:root {
    // --app-background-color: #FFFFFF;
    --app-background-color: #f2f6fa;
    --dynamic-title-color: #4a4a4a;
    --dynamic-subtitle-color: #4a4a4a;
    --dynamic-border-color: #4a4a4a;
    --dynamic-icon-color: #13baac;
    --gimpfridgeHack: ./../../assets/gimpfridgeDark.png;
    --dynamic-pink-color: #f285b8;
    --dynamic-orange-color: #fcab68;
    --dynamic-yellow-color: #fcd86d;
    --dynamic-purple-color: #8458d6;
}

[theme="dark"] {
    --app-background-color: #141d26;
    --dynamic-title-color: #b9f9fa;
    --dynamic-subtitle-color: #b9f9fa;
    --dynamic-border-color: #b9f9fa;
    --dynamic-icon-color: #13baac;
    --gimpfridgeHack: ./../../assets/gimpfridgeLight.png;
    --dynamic-pink-color: #f285b8;
    --dynamic-orange-color: #fcab68;
    --dynamic-yellow-color: #fcd86d;
    --dynamic-purple-color: #8458d6;
}
